<div style="padding: 50px;">
<canvas id="drawing-area" width="1000" height="400">
</canvas>
<textarea rows="10" cols="80" id="latex-code"></textarea><br>
<input placeholder="scale" id="scale-input" value="60">
<button id="generate-button">Generate</button>
</div>