// Place all the styles related to the global controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.global .home {
  #main-container {
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 50px;
    text-shadow: 3px 3px 5px hsla(0, 100%, 0%, 0.3);
    margin: 10px 0px 0px;
  }

  h2 {
    margin: 0px 0px;
    font-size: 30px;
    text-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.3);
  }

  #action-menu {
    margin-top: 20px;
    width: 100%;
  }

  .block {
    box-shadow: 0 0 15px #898;
    border-radius: 5px;
    padding: 5px;
  }

  #editing-area {
    margin-top: 15px;
    .left-panel {
      width: 120px;
      float: left;
      .block {
        position: relative;
        .btn-group-vertical {
          width: 100%;
        }
        #latex-content-input {
          position: absolute;
          bottom: 8px;
          width: 110px;
        }

        height: 100%;
      }
    }

    .middle-panel {
      margin-left: 130px;
      margin-right: 170px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.4);
      background-color: rgba(255, 255, 255, 0.3);
    }

    .right-panel {
      width: 160px;
      float: right;
      .block {
        width: 100%;
        height: 100%;
        .btn-group-vertical {
          width: 100%;
        }
        #history-panel {
          #history-list {
            height: 230px;
            margin-top: 8px;
            overflow: auto;
            .history-item {
              margin: 0;
              padding: 0;
              border: 0;
              cursor: pointer;
              color: #9a9;
              font-size: 12px;
              transition: background-color 200ms;
            }
            .history-item:hover {
              background-color: #cfc;
            }
            .action-done {
              color: #787;
            }
          }
        }
        #scale-slider {
          width: 150px;
          margin: 10px 0;
          .tooltip {
            display: none;
          }
        }
      }
    }

    .left-panel, .middle-panel, .right-panel {
      height: 560px;
    }
  }

  #import-area {
    margin-top: 20px;
    .left-part {
      opacity: 0.6;
      width: 750px;
      height: 400px;
      float: left;
      textarea {
        height: 100%;
        width: 100%;
      }
    }
    .right-part {
      margin-left: 15px;
      float: left;
      padding: 8px 9px;
      .btn-group-vertical {
        margin-top: 5px;
      }
    }
  }

  #processing-screen {
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.7;
  }

  #processing-caption {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    z-index: 20;
    display: none;
    bottom: 0;
    width: 100%;
    text-align: center;
    h1 {
      color: red;
    }
  }
}

/*
background pattern from subtlepatterns.com
*/
